<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<% @reviews.each do |review| %>
  <%= review.title %> By <%= review.user.username %>
  <br >
  <%= review.content %>
  <br >
  <%= link_to 'Edit', edit_review_path(review) %>
  <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<br >
<%= link_to 'New Review', new_review_path %>
