<%= form_for(@movie) do |f| %>

  <div class="row">
    <div class="small-8 columns">
      <div class="large-2 columns">
        <%= f.label :name, class: "left inline" %><br>
      </div>
      <div class="large-10 columns">
        <%= f.text_field :name %>
        <% if @movie.errors[:name][0] %>
          <small class="error"><%= @movie.errors[:name][0] %></small>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <div class="large-2 columns">
        <%= f.label :director_id, class: "left inline" %><br>
      </div>
      <div class="large-10 columns">
        <%= f.collection_select(:director_id, Director.all, :id, :name,  include_blank: "Select Director") %>
        <% if @movie.errors[:director_id][0] %>
          <small class="error"><%= @movie.errors[:director_id][0] %></small>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <div class="large-2 columns">
        <%= f.label :year, class: "left inline" %><br>
      </div>
      <div class="large-10 columns">
        <%= f.text_field :year %>
        <% if @movie.errors[:year][0] %>
          <small class="error"><%= @movie.errors[:year][0] %></small>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <div class="large-2 columns">
        <%= f.label :country, class: "left inline" %><br>
      </div>
      <div class="large-10 columns">
        <%= f.text_field :country %>
        <% if @movie.errors[:country][0] %>
          <small class="error"><%= @movie.errors[:country][0] %></small>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <div class="large-2 columns">
        <%= f.label :trailer, class: "left inline" %><br>
      </div>
      <div class="large-10 columns">
        <%= f.text_area :trailer %>
        <% if @movie.errors[:country][0] %>
          <small class="error"><%= @movie.errors[:trailer][0] %></small>
        <% end %>
      </div>
    </div>
  </div>

    <%= f.submit %>
    <%= link_to 'Back', movies_path %>



<% end %>
