<p id="notice"><%= notice %></p>

<h1>Movies</h1>
<section>
  <% @movies.each do |movie| %>
    <%= movie.name %>
    (<%= movie.year %>)
    <%= movie.country %>
    By <%= movie.director.name %>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= movie.trailer %>" frameborder="0" allowfullscreen></iframe>
    <%= link_to 'Show', movie %>
    <%= link_to 'Edit', edit_movie_path(movie) %>
    <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</section>
