<%= @movie.name %>
(<%= @movie.year %>)
<%= @movie.country %>

<p>
  By <%= link_to @movie.director.name, @movie.director %>
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @movie.trailer %>" frameborder="0" allowfullscreen></iframe>

<footer>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
</footer>

<h4>Reviews</h4>

<% @movie.reviews.reverse_each do |review| %>
  <%= review.title %> By <%= review.user.username %>
  <br >
  <%= review.content %>
  <br >
  <%= link_to 'Edit', edit_review_path(review) %>
  <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= render 'review_form' %>
<h5><%= link_to 'New Review', new_review_path %></h5>
