<div class="movies-show">
  <header class="row">
    <%= @movie.name %>
    (<%= @movie.year %>)
    <%= @movie.country %>
    By <%= link_to @movie.director.name, @movie.director if @movie.director%>
    <% if @movie.rating == 0 %>
        No Rating Yet
    <% else %>
        Rating: <%= @movie.rating %><br>
    <% end %>
  </header>
  <section class="row">
    <div class="medium-7 columns">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @movie.trailer %>" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="medium-5 columns">
      <%= render "reviews/form", review: Review.new %>
    </div>
  </section>
  <footer class="row">
    <%= link_to 'Edit', edit_movie_path(@movie) %> |
    <%= link_to 'Back', movies_path %>
  </footer>

  <section>
    <% @movie.reviews.reverse_each do |review| %>
      <div class="row">
        <%= link_to review.user.username, review.user %>
        <%= review.title %> 
        <% if user_signed_in? && current_user.email == review.user.email %>
          <%= link_to 'Edit', edit_movie_review_path(@movie, review) %>
          <%= link_to 'Destroy', movie_review_path(@movie, review), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
      <div class="row">
        <%= review.content %>
      </div>
    <% end %>
  </section>
  

</div>
