<div class="row director-show">
  <header class="director-title small-3 small-centered columns">
    <%= @director.name %>
    <%= @director.country %>
  </header>
</div>
<div class="row director-show">
  <section class="medium-offset-2 medium-3 columns">
    <%= image_tag @director.picture %>
  </section>
  <aside class="medium-4 columns end">
    <p><%= @director.description %></p>
  </aside>
</div>
<div class="row director-show">
  <footer>
    <div class="medium-offset-2 medium-6 columns">
      <select name="movies" onchange="location = this.value">
        <option>Movies</option>
        <% @director.movies.each do |movie| %>
          <option value="<%= movie_path(movie) %>">
            <%= movie.name %>
          </option>
        <% end %>
      </select>
    </div>
    <div class="medium-2 columns end">
      <%= link_to 'Edit', edit_director_path(@director), class: "button tiny" %>
    </div>
  </footer>
</div>