<p>
  <%= @user.username %>
</p>

<p>
  <%= image_tag @user.picture %>
</p>

<h4>Reviews</h4>

<% @user.reviews.reverse_each do |review| %>
  <br >
  <%= review.title %> For <%= review.movie.name if review.movie %>
  <br >
  <%= review.content %>
  <br >
<% end %>