<div class="row">
  <div class="medium-2 columns">
    <div>
      <%= @user.username %>
    </div>
    <div>
      <%= image_tag @user.picture %>
    </div>
  </div>
  <div class="medium-10 columns">
  <% @user.reviews.reverse_each do |review| %>
    <div class="row">
    <%= review.title %> For <%= review.movie.name if review.movie %>
    <% if user_signed_in? && current_user.email == review.user.email %>
      <%= link_to edit_movie_review_path(review.movie.id, review) do %>
        <i class="fi-page-edit"></i>
      <% end %>
      <%= link_to movie_review_path(review.movie.id, review), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fi-x"></i>
      <% end %>
    <% end %>
    </div>
    <div class="row">
    <%= review.content %>
    </div>
  <% end %>
  </div>
</div>
  



  




