<%= form_for(@director) do |f| %>

  <div class="row">
    <div class="small-8 columns">
      <div class="large-2 columns">
        <%= f.label :name, class: "left inline" %><br>
      </div>
      <div class="large-10 columns">
        <%= f.text_field :name %>
        <% if @director.errors[:name][0] %>
          <small class="error"><%= @director.errors[:name][0] %></small>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <div class="large-2 columns">
        <%= f.label :country, class: "left inline" %><br>
      </div>
      <div class="large-10 columns">
        <%= f.text_field :country %>
        <% if @director.errors[:country][0] %>
          <small class="error"><%= @director.errors[:country][0] %></small>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <div class="large-2 columns">
        <%= f.label :picture, class: "left inline" %><br>
      </div>
      <div class="large-10 columns">
        <%= f.text_area :picture %>
        <% if @director.errors[:picture][0] %>
          <small class="error"><%= @director.errors[:picture][0] %></small>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-8 columns">
      <div class="large-2 columns">
        <%= f.label :description, class: "left inline" %><br>
      </div>
      <div class="large-10 columns">
        <%= f.text_area :description %>
        <% if @director.errors[:description][0] %>
          <small class="error"><%= @director.errors[:description][0] %></small>
        <% end %>
      </div>
    </div>
  </div>

    <%= f.submit %>

<% end %>
