<p id="notice"><%= notice %></p>

<h1>Directors</h1>

<table>

  <tbody>
    <% @directors.each do |director| %>
      <tr>
        <td><%= link_to director.name, director %></td>
        <td><%= director.country %></td>
        <td><%= image_tag director.picture %></td>
        <td><%= link_to 'Edit', edit_director_path(director) %></td>
        <td><%= link_to 'Destroy', director, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
