<div class="directors-index">
  <header class="row index">
    <h1>Directors</h1>
  </header>
  <div class="row index">
    <div class="medium-8 medium-offset-2 columns">
      <ul class="medium-block-grid-2">
        <% @directors.each do |director| %>
          <li>
            <header>
              <div>
                <%= director.name %>
              </div>
              <div>
                <em><%= director.country %></em>
              </div>
            </header>
            <section>
              <%= link_to image_tag(director.picture), director %>
            </section>
            <footer>
              <div class="row">
                <div class="medium-8 medium-centered columns">
                  <%= link_to 'Edit', edit_director_path(director), class: "button round radius info expand" %>
                </div>
              </div>
              <div class="row">
                <div class="medium-8 medium-centered columns">
                  <% if current_user.try(:admin?) %>
                    <%= link_to 'Destroy', director, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </div>
              </div>
            </footer>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>