<p id="notice"><%= notice %></p>

<p>
  <%= @director.name %>
</p>

<p>
  <%= @director.country %>
</p>

<p>
  <%= image_tag @director.picture %>
</p>

<p>
  <%= @director.description %>
</p>

<select name="movies" onchange="location = this.value">
  <% @director.movies.each do |movie| %>
    <option>Movies</option>
    <option value="<%= movie_path %>"><%= movie.name %></option>
  <% end %>
</select>

<footer>
<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
</footer>