<p id="notice"><%= notice %></p>

<p>
  <%= @director.name %>
</p>

<p>
  <%= @director.country %>
</p>

<p>
  <%= image_tag @director.picture %>
</p>

<p>
  <%= @director.description %>
</p>

<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
